body {
    background: #f3f3f3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 25px;
    color: #333;
}

#panel {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 230px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

.gauge {
    width: 200px;
    height: 160px;
    margin: auto;
}

#estado {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.box h3 {
    margin-bottom: 10px;
    color: #444;
}
